openapi: 3.0.1
info:
  title: GitHub PR Creator
  version: "1.0"
  description: API for creating GitHub pull requests with workflow files. Supports draft PRs for human-in-the-loop workflow.
servers:
  - url: https://api.github.com
paths:
  /create-branch:
    post:
      operationId: createBranch
      summary: Create a new branch in the repository
      description: Create a new branch from a base branch (e.g., main or master). This is typically done before creating files and opening a PR.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - operation
                - owner
                - repo
                - branch
              properties:
                operation:
                  type: string
                  enum:
                    - create_branch
                  description: Operation type, must be 'create_branch'
                owner:
                  type: string
                  description: GitHub repository owner (username or organization)
                repo:
                  type: string
                  description: Repository name
                branch:
                  type: string
                  description: Name of the new branch to create
                base_branch:
                  type: string
                  description: Base branch to create from (defaults to main if not provided)
      responses:
        "200":
          description: Branch created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  branch:
                    type: string
                    description: Name of the created branch
  /create-file:
    post:
      operationId: createFile
      summary: Create or update a file in the repository
      description: Create or update a file in a specific branch. Use this to add workflow files before creating a PR.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - operation
                - owner
                - repo
                - branch
                - files
              properties:
                operation:
                  type: string
                  enum:
                    - create_file
                  description: Operation type, must be 'create_file'
                owner:
                  type: string
                  description: GitHub repository owner (username or organization)
                repo:
                  type: string
                  description: Repository name
                branch:
                  type: string
                  description: Branch name where the file should be created/updated
                files:
                  type: array
                  description: Array of files to create or update
                  items:
                    type: object
                    required:
                      - path
                      - content
                    properties:
                      path:
                        type: string
                        description: File path in repository (e.g., .github/workflows/ci-cd.yml)
                      content:
                        type: string
                        description: File content
                      message:
                        type: string
                        description: Commit message for this file
      responses:
        "200":
          description: File(s) created/updated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  files:
                    type: array
                    description: Array of file creation results
                    items:
                      type: object
                      properties:
                        path:
                          type: string
                        status:
                          type: string
  /create-pr:
    post:
      operationId: createPR
      summary: Create a GitHub pull request
      description: Create a PR in GitHub with the generated workflow. Defaults to draft PR for review.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - operation
                - owner
                - repo
                - title
                - head
              properties:
                operation:
                  type: string
                  enum:
                    - create_pr
                  description: Operation type, must be 'create_pr'
                owner:
                  type: string
                  description: GitHub repository owner (username or organization)
                repo:
                  type: string
                  description: Repository name
                head:
                  type: string
                  description: Source branch name for the PR
                base:
                  type: string
                  description: Target branch name (defaults to main if not provided)
                title:
                  type: string
                  description: Pull request title
                body:
                  type: string
                  description: Pull request description/body
                draft:
                  type: boolean
                  description: Create as draft PR (recommended for human-in-the-loop). Defaults to true.
                files:
                  type: array
                  description: Array of files to include in the PR
                  items:
                    type: object
                    required:
                      - path
                      - content
                    properties:
                      path:
                        type: string
                        description: File path in repository (e.g., .github/workflows/ci-cd.yml)
                      content:
                        type: string
                        description: File content
                      message:
                        type: string
                        description: Commit message for this file
      responses:
        "200":
          description: PR created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: success
                  pr_number:
                    type: integer
                    description: GitHub PR number
                  pr_url:
                    type: string
                    format: uri
                    description: URL to the created PR
                  draft:
                    type: boolean
                    description: Whether the PR is a draft
                  pr:
                    type: object
                    description: Full PR object from GitHub API
